#ho_adv{position:absolute;top:-9999px;}

body {	background: #000;color: #999;font-size:16px}
#calendar .ui-widget{font-size: 13px;}

.calendar.box{
	padding-bottom:30px;
}
/*     layout     */

html, body, #wrapper, #page, #panel {
    height: 100%;
	width: 100%;
	margin:0;
}


#wrapper{
	min-width: 474px;
	min-height: 300px;
}
.box{
    padding: 3px;
    width: 100%;
}
.inner{
    padding: 3px;
}
.today{
	height: 30%;
}
.todo, .schedule, .calendar{
	height: 70%;
}
.todo, .schedule{
	width:25%;
}
.calendar{
	width: 50%;
}


*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#wrapper{
	float:left;
	position:relative;
}
.box{
	float: left;
	position:relative;
}
.inner{
	border: 1px solid #555;
    width: 100%;
	height:100%;
}
.button-holder{
	position:absolute;
	left:0;
	width:100%;
	bottom:0;
}
#calendar.hasDatepicker, #calendar .ui-datepicker{
	height:100%;
}
#calendar .ui-datepicker-header{
	height:15%;
	padding:0;
}
#calendar .ui-datepicker-title, 
#calendar .ui-datepicker .ui-datepicker-prev, 
#calendar .ui-datepicker .ui-datepicker-next{
	height:100%;
}
#calendar .ui-datepicker-calendar{
	height:85%;
	padding:0;
}
#calendar .ui-datepicker-calendar td{
	border: 1px solid #444;
	background: #222 url(dark-hive/images/ui-bg_highlight-soft_35_222222_1x100.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #eee;
	padding: 0;
	text-align: right;
	text-decoration: none;
}
#calendar .ui-datepicker-calendar td.ui-datepicker-other-month,
#calendar .ui-state-default{
	border: none;
	background: none;
	font-weight: normal;
}
#calendar .ui-datepicker table{
	border-collapse: inherit;
	font-size:inherit;
}
#calendar .ui-datepicker th{
	padding:.2em 0;
}
#calendar .ui-datepicker td span, .ui-datepicker td a {
    padding: 0.2em 7% 0.2em 0;
}



.red{background: #f22!important;}	

a{color:#fff; cursor:pointer;}
span.month{color:#666; font-size:80%;}
.late{
	color: #c44;
	border-color: #c44;
}
input{
	margin:0;
	max-width: 100%;
	background: #000;
	border: 1px solid #555;
	color:#666;
}
#todo input{ 
	font-size: 100%;
    width: 86%;
	float:left;
}
#todo .button-holder a{
	 background: url("dark-hive/images/ui-icons_cccccc_256x240.png") no-repeat scroll -33px -129px rgba(0, 0, 0, 0);
    display: block;
    height: 15px;
    margin: 17% auto;
    text-indent: -9999px;
    width: 15px;
}
#todo .button-holder div{
	float: right;
    width: 12%;
}
#todo .button-holder {
	padding:5px;
}
#todo {
	position:relative;
}
ul {
	list-style: none;
	padding: 3px;
}
#calendar{
	margin: 0 auto;
}
.ui-datepicker {
	width: auto;
	1min-width: 16em;
}
.schedule{
	float:right;
	1min-height:263px;
	position:relative;
}
.calendar .button{
	float:left;
	width: 33.3%;
	padding: 3px;
}
.panel{
	display: none;
	position: absolute;
	top:0;
	left:0;
	background: #000;
	1height:100%;
}
.close, .title{
	position: absolute;
	top:0;
	right:0;
	background: #000;
	padding: 3px;
	width: auto;
	height: auto;
}
.title{
	left: 48px;
	float:left;
	right: auto;
	top: -3px;
	padding: 0 3px;
	font-size:80%;
	color: #666;
}
.show.inner{
	display: inline-block;
	text-align:center;
	width:100%;
	padding: 0 0 2px;
}
#page .quadr{
    display: inline-block;
    overflow: hidden;
    padding: 4px 4px 0 4px;
    text-indent: -9999px;
	margin: 4px 0 0;
}
#page .del{
	border: 1px solid #555555;
    display: block;
    height: 8px;
    width: 8px;
}
#page .quadr.active, #page .quadr:hover{
	background: url("dark-hive/images/ui-icons_4b8e0b_256x240.png") no-repeat scroll -63px -147px rgba(0, 0, 0, 0);
}
.panel .del{
	background: url("dark-hive/images/ui-icons_222222_256x240.png") no-repeat -99px -131px;
	text-indent: -9999px;
	overflow: hidden;
	width: 10px;
	height:10px;
	display: inline-block;
}




@media (orientation: portrait) { 
	 .box{
		height: 50%;
		width: 50%;
	}
}
@media (min-height: 360px) { 
	body{
		font-size: 18px;
	}
	#page .del{
		height:9px;
		width:9px;
	}
	#calendar .ui-widget{
		font-size: 16px;
	}
	.calendar.box, #todo{
		padding-bottom: 32px;
	}
	
}

@media (min-height: 420px) { 
	body{
		font-size: 21px;
	}
	#page .del{
		height:10px;
		width:10px;
	}
	#page .quadr.active, #page .quadr:hover {
		background-position: -62px -145px;
	}
	#calendar .ui-widget{
		font-size: 19px;
	}
	.calendar.box, #todo{
		padding-bottom: 34px;
	}
	
}
@media (min-height: 500px) { 
	body{
		font-size: 24px;
	}
	#page .del{
		height:12px;
		width:12px;
	}
	#page .quadr.active, #page .quadr:hover {
		background-position: -62px -144px;
	}
	#calendar .ui-widget{
		font-size: 21px;
	}
	.calendar.box, #todo{
		padding-bottom: 40px;
	}
	
}
@media (min-height: 700px) { 
	body{
		font-size: 30px;
	}
	#page .del{
		height:15px;
		width:15px;
	}
	#page .quadr.active, #page .quadr:hover {
		background-position: -64px -141px;
	}
	#calendar .ui-widget{
		font-size: 28px;
	}
	.calendar.box, #todo{
		padding-bottom: 59px;
	}
	
}