#ho_adv{position:absolute;top:-9999px;}

/*     layout     */

html, body, #wrapper, #page, #panel {
    height: 100%;
	width: 100%;
	margin:0;
}


#wrapper{
	min-width: 474px;
	min-height: 377px;
}
.box{
    padding: 3px;
    width: 100%;
}
.inner{
    padding: 3px;
}
.today{
	height: 30%;
}
.todo, .schedule, .calendar{
	height: 70%;
}
.todo, .schedule{
	width:25%;
}
.calendar{
	width: 50%;
}

.vertical .box{
	height: 50%;
	width: 50%;
}





body {	background: #000;color: #999;}
*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#wrapper{
	float:left;
	position:relative;
}
.box{
	float: left;
	position:relative;
}
.inner{
	border: 1px solid #555;
    width: 100%;
	height:100%;
}
.red a{background: #f22!important;}	

a{color:#fff; cursor:pointer;}
span.month{color:#666; font-size:80%;}
.late{
	color: #c44;
	border-color: #c44;
}
input{
	margin:0;
	max-width: 100%;
	background: #000;
	border: 1px solid #555;
	color:#666;
}
ul {
	list-style: none;
	padding: 3px;
}
#calendar{
	margin: 0 auto;
}
.ui-datepicker {
	width: auto;
	1min-width: 16em;
}
.schedule{
	float:right;
	min-height:263px;
	position:relative;
}
.calendar .button{
	float:left;
	width: 33.3%;
	padding: 3px 3px 0 3px;
}
.panel{
	display: none;
	position: absolute;
	top:0;
	left:0;
	background: #000;
	1height:100%;
}
.close, .title{
	position: absolute;
	top:0;
	right:0;
	background: #000;
	padding: 3px;
	width: auto;
	height: auto;
}
.title{
	left: 48px;
	float:left;
	right: auto;
	top: -3px;
	padding: 0 3px;
	font-size:80%;
	color: #666;
}
.show.inner{
	display: inline-block;
	text-align:center;
	width:100%;
	padding: 0 0 2px;
}
#page .quadr{
    display: inline-block;
    overflow: hidden;
    padding: 4px 4px 0 4px;
    text-indent: -9999px;
	margin: 4px 0 0;
}
#page .del{
	border: 1px solid #555555;
    display: block;
    height: 8px;
    width: 8px;
}
#page .quadr.active, #page .quadr:hover{
	background: url("dark-hive/images/ui-icons_4b8e0b_256x240.png") no-repeat scroll -63px -147px rgba(0, 0, 0, 0);
}
.panel .del{
	background: url("dark-hive/images/ui-icons_222222_256x240.png") no-repeat -99px -131px;
	text-indent: -9999px;
	overflow: hidden;
	width: 10px;
	height:10px;
	display: inline-block;
}
